.feynman__link {
  line-height: 51px;
  font-size: 36px;
  top: 50%;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  right: 48px;
  margin: 0;
}

.feynman__link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
